In [4]:
import numpy as np
import pandas as pd

In [5]:
pd.__version__

'2.2.3'

### data structures

In [12]:
serie = pd.Series(
    [1, 2, 3, 4],
    name='numbers'
)

In [13]:
serie.dtype

dtype('int64')

In [14]:
serie.size

4

In [17]:
serie.name

'numbers'

In [20]:
serie.values

array([1, 2, 3, 4])

In [25]:
df = pd.DataFrame(
    np.array(
        [
            [1, 2, 3],
            [4, 5, 6]
        ]
    ),
    columns=['one', 'tw', 'th']
)

### Attributes

In [31]:
df

   one  tw  th
0    1   2   3
1    4   5   6

In [27]:
df.shape

(2, 3)

In [28]:
df.columns

Index(['one', 'tw', 'th'], dtype='object')

In [37]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [38]:
df.values

array([[1, 2, 3],
       [4, 5, 6]])